* {
  font-family: Ubuntu;
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #021226;
}

body {
  display: flex;
  color: #e3e4e7;
  padding: 0 16px;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.img-wrapper > img {
  margin-right: 36px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main-container {
  display: flex;
  padding: 48px;
  max-width: 750px;
  justify-content: space-around;
  background-color: #08346c;
  border-radius: 16px;
}

.main-info {
  display: flex;
  justify-content: center;
  width: 518px;
  align-items: center;
  margin-bottom: 8px;
}

.main-info > h1 {
  justify-content: flex-start;
  width: 60%;
  font-size: 28px;
  line-height: 32px;
  display: inline-block;
}

.git-user {
  text-decoration: none;
  color: #e3e4e7;
  max-width: 150px;
  word-wrap: break-word;
}

.git-user-complemente {
  text-decoration: none;
}

.linkedin-user-complemente {
  text-decoration: none;
  color: #e3e4e7;
}

.distance-itens-additional-information {
  text-decoration: none;
  color: #e3e4e7;
}
@media (max-width: 700px) {
  .distance-itens-additional-information {
    margin-bottom: 16px;
    max-width: 150px;
    word-wrap: break-word;
  }
  .main-container {
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
  }

  .main-info > h1 {
    font-size: 20px;
  }

  .main-info {
    width: 100%;
    max-width: 518px;
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .img-wrapper > img {
    margin-right: 0px;
  }

  .git-user {
    max-width: 90px;
    word-wrap: break-word;
  }
}

.main-info > p {
  align-items: center;
  text-align: end;
  display: inline-block;
  float: right;
  width: 39.2%;
  height: 100%;
}

.twitter {
  margin-bottom: 16px;
  color: #d0e91a;
}

.bio {
  margin-bottom: 42px;
}

.statistics {
  display: flex;
  width: 100%;
  height: 93px;
  background-color: #021226;
  margin-bottom: 24px;
  border-radius: 16px;
  list-style: none;
}

.statistics > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.space-bottom-statistics {
  margin-bottom: 8px;
}

.font-size-statistics {
  font-weight: 500;
  font-size: 32px;
}

.additional-information {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.distance-itens-additional-information {
  margin-bottom: 16px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
}
